* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Wargate';
    src: url(/Users/zack/repos/battleship/fonts/Wargate.otf);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(https://wallpaperaccess.com/full/1486722.jpg);
    background-size: cover;
}

#title {
    font-family: 'Wargate';
    font-size: 90px;
}

#boards {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template: repeat(11, 1fr) / repeat(11, 1fr);
    height: 500px;
    width: 500px;
    background-image: url(https://besthqwallpapers.com/Uploads/8-12-2021/187140/blue-water-texture-ocean-top-view-water-top-view-blue-wave-background-ocean-waves-background.jpg);
    background-size: cover;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.boardName {
    font-family: 'Wargate';
    font-size: 40px;
}

#computerBoard {

}

#playerBoard {

}

.computerCell, .playerCell, .textCell {
    outline: none;
    border: 1px solid black;
}

.textCell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Wargate';
    font-size: 25px;
    background-color: #0189a2;
}

.computerCell:hover{
    transform: scale(1.03);
    border: 1px solid red;
}

.cellHit{
    outline: none;
    border: 1px solid black;
    background-color: red;
}

.cellMiss{
    outline: none;
    border: 1px solid black;
    background-color: gray;
}