* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Wargate';
    src: url(/Users/zack/repos/battleship/fonts/Wargate.otf);
}

:root {
    --ship-color: #bbb8d0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(https://wallpaperaccess.com/full/1486722.jpg);
    background-size: cover;
}

#popup {
    background-color: #ffffff;
    width: 500px;
    height: 700px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-family: "Wargate";
    font-size: 20px;
    text-align: center;
    background-color: lightblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#gameOver {
    background-color: #ffffff;
    width: 500px;
    height: 300px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-family: "Wargate";
    font-size: 70px;
    text-align: center;
    background-color: lightblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#rotateButton {
    height: 50px;
    width: 100px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
}

#rotateButton:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#placementBoard {
    display: grid;
    grid-template: repeat(11, 1fr) / repeat(11, 1fr);
    flex: 1;
    width: 95%;
    background-color: teal;
}

.placementCell {
    outline: none;
    border: 1px solid black;
}

.shipCell {
    outline: none;
    border: none;
    background-color: lightblue;
}

.takenCell {
    outline: none;
    border: none;
    background-color: var(--ship-color);
}

#title {
    font-family: 'Wargate';
    font-size: 90px;
}

#boards {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template: repeat(11, 1fr) / repeat(11, 1fr);
    height: 500px;
    width: 500px;
    background-image: url(https://besthqwallpapers.com/Uploads/8-12-2021/187140/blue-water-texture-ocean-top-view-water-top-view-blue-wave-background-ocean-waves-background.jpg);
    background-size: cover;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.boardName {
    font-family: 'Wargate';
    font-size: 40px;
}

#computerBoard {

}

#playerBoard {

}

.computerCell, .playerCell, .textCell {
    outline: none;
    border: 1px solid black;
}

.textCell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Wargate';
    font-size: 25px;
    background-color: #0189a2;
}

.computerCell:hover{
    transform: scale(1.03);
    border: 1px solid red;
}

.cellHit{
    outline: none;
    border: 1px solid black;
    background-color: red;
}

.cellMiss{
    outline: none;
    border: 1px solid black;
    background-color: gray;
}